{% load static %}
<footer class="bg-azul-petroleo text-cinza-geada py-12">
  <div class="container mx-auto px-4">
    
    <div class="hidden md:flex justify-between items-start text-left gap-8">

      <div class="md:w-1/3">
        <a href="/#inicio" class="text-2xl font-bold font-serif mb-2 block hover:text-white">Sampaio & Hoog</a>
        <p class="text-sm text-gray-300">
          © {% now "Y" %} Sampaio & Hoog Advocacia.<br> Todos os direitos reservados.
        </p>
      </div>

      <div class="md:w-1/3 text-sm text-gray-300">
        <p class="font-semibold text-white mb-2">Nosso Endereço:</p>
        <p>Av. Tancredo Neves, 2227,<br>Edifício Salvador Prime Work, Sala 1219,</p>
        <p>Caminho das Árvores, 41820-021</p>
        <p>Salvador, BA, Brasil</p>
      </div>

      <div class="md:w-1/3 text-sm">
        <p class="font-semibold text-white mb-2">Navegação:</p>
        <ul class="space-y-1">
          <li><a href="/#inicio" class="text-gray-300 hover:text-white hover:underline">Início</a></li>
          <li><a href="/#servicos" class="text-gray-300 hover:text-white hover:underline">Atuação</a></li>
          <li><a href="/#sobre" class="text-gray-300 hover:text-white hover:underline">Sobre Nós</a></li>
          <li><a href="/#contato" class="text-gray-300 hover:text-white hover:underline">Contato</a></li>
        </ul>
      </div>
    </div>

    <div class="md:hidden text-center">
      
      <div class="mb-8">
        <a href="/#inicio" class="text-2xl font-bold font-serif mb-2 block hover:text-white">Sampaio & Hoog</a>
        <p class="text-sm text-gray-300">
          © {% now "Y" %} Sampaio & Hoog Advocacia.<br> Todos os direitos reservados.
        </p>
      </div>

      <div class="text-sm">
        <p class="font-semibold text-white mb-2">Nosso Endereço:</p>
        <p class="text-gray-300">Av. Tancredo Neves, 2227,<br>Edifício Salvador Prime Work, Sala 1219,</p>
        <p class="text-gray-300">Caminho das Árvores, 41820-021</p>
        <p class="text-gray-300">Salvador, BA, Brasil</p>
      </div>
        
    </div>

  </div>
  <div class="h-20 md:h-0 lg:h-0">

  </div>
</footer>
